body {
    background-color: #FFF8F6;
    padding: 0;
    margin: 0;
}

/* Login Page */

.top_section {
    height: 80px;
    background-color: #8E110B;
    margin-bottom: 120px;
}

.login_container {
    margin: 50px;
    margin-inline: auto;
    background-color: #EFCBC9;
    width: 332px;
    height: 232px;
    border-radius: 20px;
    box-shadow: 1px 2px 12px gray;
}

#login_topbar {
    background-color: #8E110B;
    border-radius: 20px 20px 0 0;
    width: auto;
    margin: auto;
    height: 53px;
    float: absolute;
    display: flex;
    justify-content: center;
}

#login_topbar p {
    color: #FFF8F6;
    text-align: center;
    margin: auto;
    font-size: 20px;
    font-family: Inter;
}

.input_box {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.input_box input {
    border-radius: 10px;
    padding: 6px;
    border: none;
    margin: 10px;
    width: 250px;
    font-size: 16px;
}

.loginBTN {
    border-radius: 10px;
    padding: 6px;
    background-color: #8E110B;
    color: #FFF8F6;
    font-size: 20px;
    border: none;
    width: 100px;
    font-family: Inter;
}

/* Homepage/Dashboard */
#menu {
    background-color: #5D2321;
}

/* Collapsed sidebar */
.sidebar.collapsed {
    width: 70px; /* Only enough for icons */
}

/* Hide description text when collapsed */
.sidebar.collapsed .description {
    display: none;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 200px;
    padding-top: 20px;
    background-color: #8E110B;
    transition: width 0.3s ease;
    overflow: hidden;
}

.sidebar .nav-link {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 10px 20px;
    color: #FFF8F6;
}

.sidebar .description {
    font-size: 20px;
}

.sidebar .nav-link:hover {
    background-color: #720b05;
    color: #FFF8F6;
}

.main-content {
    height: 100%;
    margin-left: 200px;
    padding: 20px;
}

/*  Configuration for smaller device width   */

@media (max-width: 480px) {
    .sidebar {
        width: 60px;
    }

    .sidebar .description {
        display: none;
    }

    .sidebar .nav-link {
        justify-content: center;
    }

    .main-content {
        margin-left: 60px;
    }
}